*{
  color: white;
}
#theme1{
width: 20px;
height: 20px;
background-color: #7c9eb2 !important;
margin-left: 15px;
margin-right: 15px;}

#theme2{
width: 20px;
height: 20px;
background-color: #f56320 !important;
  margin-right: 15px;
}



#theme1:hover, #theme2:hover{
cursor: pointer;
}

.blue{
background-color: #7c9eb2 !important;
}

.orange{
background-color: #F56320 !important;
}


.dropdown-item{
  color: black !important;
}
.goog-te-banner-frame{
  display: none !important;
}
.goog-te-gadget-icon{
  display: none !important;
}
.goog-te-menu-value span{
  color: black !important;
}

#google_translate_element{
  color: black !important;
  margin-left: 30%;
}

.director-corner{
  margin-top: 70px;
  border-radius: 10px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.inside{
  padding-top: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.direct-heading{
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}
.d-im{
  min-width: 150px;
  max-height: 150px;
}
.direct-cont{
  margin-left: 10px;
  color: black !important;
}
@media screen and (max-width: 810px){
  .d-im, .direct-cont{
    margin-left: auto;
    margin-right: auto;
  }

  .direct-cont{
    margin-top: 25px;
  }
}

.top-bar{
  padding-top: 9px;
  width: 100%;
  background-color: #52528c;
  height: 40px;
  display: flex;
}

ul{
  list-style-type: none;
}

body{
  overflow-x: hidden;
}

.logo{
  width: 65px;
  height: 65px;
}

.heading{
  margin-left: 10px;
}

.nav-item{
 margin-right: 10px;
 /* margin-top: 5px; */
}

.nav-link{
  font-size: 18px;
  font-weight: 600;
}

.nav-link:hover{
  background-color: #52528c;
}

#nav{
  background-color: #7c9eb2;
}

nav{
  position: sticky !important;
  top: 0;
  z-index: 1;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.carousel-control-prev, .carousel-control-next{
  background-color: grey;
}

.d-block{
  height: calc(100vh - 131px);
}


a:hover{
  text-decoration: none;
}


.news {

  margin-top: 50px;
  background-color: grey;
  width: 80%;
  margin-left: 10% !important;
  border-radius: 10px;
}
.news-items{
  padding: 10px;
  font-size: 20px;
  vertical-align: middle;
  width: 90%;
}

.news-text {
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  padding-top: 14px;
  text-align:center;
  background-color: #7c9eb2;
}

.news-text, .news-items {
  display: inline-block;
}

.notice-board{
  margin-top: 50px;
}
.board-nav{
  display: flex;
  width: 100%;
  list-style-type: none;
}
.board-nav a {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #52528c;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
}
.c{
  background-color: #7c9eb2 !important;
}
.z{
  background-color: #F56320 !important;
}
#b1{
  border-radius: 10px 0 0 0;
}
#b5{
  border-radius: 0 10px 0 0;
  margin-right: 0;
}
.board-nav a:hover {
  background-color: #52528c !important;
}

.board-box{
  width: 80%;
  margin-left: 10%;
  padding-top: 25px;
  padding-bottom: 5px;
}
.notice-board {
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  padding: 0;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.box-hide{
  display: none;
}

.board-content{
  padding-left: 20px;
  padding-right: 20px;
}
.board-content marquee a{
  color: black !important;
  text-decoration: none;
}

hr {
  border-top: 1px solid #000 !important;
}

.footer{
  margin-top: 100px;
  background-color: #000;
  width: 100%;
  padding: 50px 0 30px 0 !important;
}

.part1, .part2{
  width: 90%;
  margin-right: 5% !important ;
  margin-left: 5% !important;
}
.part2{
  color: grey !important;
  text-align: center;
  margin-top: 30px;
}

.part1{
  padding-bottom: 30px;
  border-bottom: 2px solid #52528c;
}

.footer-wid-heading{
  border-top: 2px solid #52528c;
  border-bottom: 2px solid #52528c;
  border-right: 2px solid #52528c;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
}

.foot-links{
  padding-left: 0;
  border-right: 2px solid #52528c;
}

.foot-links li{
  padding: 10px 10px 10px 5px;
}



.social .foot-items{
  margin-right: 15%;
}

.add{
  font-size: 14px;
  margin-left: 12px;
}

.coll{
  margin-bottom: 0;
}

.fa-map-marked-alt{
  padding-top: 10px;
}

.location{
  display: flex;
}

.mobile{
  display: none;
}

.clicked{
  background-color: #52528c !important;
}

.board-content a:before{
  content: "\00BB";
  margin-right: 5px;
}

.campus{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  background-color:#000;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.sec3 {
  margin-top: 50px;
  background-color:#000;
  width: 100%;
}

.campus-head{
  text-align: center;
  color: white !important;
  font-weight: 600;
  font-size: 30px;
}

.p-img{
  padding-left: 0;
  margin-bottom: 10px;
}

.pp{
  padding-top: 30px;
}

.pp-mobile{
  display: none !important;
}

@media screen and (max-width: 767px){
  .pp-desktop{
    display: none !important;
  }
  .pp-mobile{
    display: block !important;
  }
  .mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #000;
}


/* Position the "next button" to the right */
.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


}

@media screen and (max-width: 800px){
  .news, .notice-board{
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .board-box{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media screen and (max-width: 580px){
  .news, .notice-board{
    width: 98%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .news-items{
    width: 100%;
  }
}

.fa-sign-in{
  display: none;
}

@media screen and (min-width: 992px){
  .social{
    padding-bottom: 25px !important;
  }
  .navbar-nav{
    position: absolute;
    right: 5%;
  }
  /* #n-links{
    display: block;
  } */
}

@media screen and (max-width: 400px){
  .heading{
    display: none;
  }
  #n-links{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 500px){
  .d-block{
    height: 400px;
  }

  .but{
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 992px){
  .footer-wid-heading:hover{
    cursor: pointer;
  }


  .navbar-nav{
    margin-bottom: 0 !important;
    padding-top: 10px !important;
  }
  .desktop{
    display: none;
  }

  .dis{
    display: block !important;
  }

  .add{
    padding-top: 10px;
  }

  .coll{
    display: block !important;
  }

  .foot-links{
    display: none;

  }

  .mobile{
    display: block;
  }

  .fa-sign-in{
    display: block;
    float: right;
    margin-right: 5%;
    margin-top: 7px;
  }
  .nav-link{
    padding-left: 10px !important;
    border-bottom: 2px solid #52528c;
  }
  .footer-wid-heading{
    font-size: 18px;
    padding-left: 5px;
  }
  
  
}

.director-corner{
  margin-top: 70px;
  border-radius: 10px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.inside{
  padding-top: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.direct-heading{
  background-color: #7c9eb2;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}
.d-im{
  min-width: 150px;
  max-height: 150px;
}
.direct-cont{
  margin-left: 10px;
  color: black !important;
}
@media screen and (max-width: 810px){
  .d-im, .direct-cont{
    margin-left: auto;
    margin-right: auto;
  }

  .direct-cont{
    margin-top: 25px;
  }
}
